## Configurando o MySQL com Python

Neste momento, vamos configurar a integração entre o MySQL e Python. Isso nos permitirá executar consultas, inserções e outras operações no banco de dados MySQL usando o Python como nossa linguagem de programação principal.

In [9]:
import mysql.connector

config = {
  'user': 'root',
  'password': 'root',
  'host': 'localhost',
  'unix_socket': '/Applications/MAMP/tmp/mysql/mysql.sock',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)
print(cnx)

<mysql.connector.connection_cext.CMySQLConnection object at 0x10772a490>

Criaremos um cursor, que é um objeto utilizado para executar instruções SQL no contexto do Python. Essse cursor nos permitirá enviar consultas e comandos SQL para o banco de dados MySQL por meio da conexão estabelecida e obter os resultados de volta para serem processados em nosso código Python

In [10]:
cursor = cnx.cursor()

## Criando uma base de dados

O método `execute()` é usado para compilar uma instrução SQL

In [13]:
try:
    cursor.execute("CREATE DATABASE IF NOT EXISTS dbprodutos;")
except mysql.connector.Error as err:
    print("Failed creating database: {}".format(err))

Failed creating database: 1007: Can't create database 'dbprodutos'; database exists

In [14]:
cursor.execute("SHOW DATABASES;")

for db in cursor:
    print(db)

('information_schema',)
('CLUBE_DO_LIVRO',)
('dbprodutos',)
('mysql',)
('performance_schema',)
('sys',)

## Criando uma tabela

Antes de criar nossa tabela, vamos revisar as colunas necessárias que precisaremos incluir nela. Essa etapa é importante para garantir que nossa tabela seja projetada corretamente, atendendo aos requisitos de armazenamento e organização dos dados.

In [15]:
import pandas as pd
df_livros = pd.read_csv("../data/tabela_livros.csv")
df_livros.head()

,_id,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,Latitude,Longitude
0,65cce385ddadb93e4611d6c2,Modelagem preditiva,livros,92.45,5.609697,2020-01-01,Thiago Silva,BA,1,cartao_credito,3,-13.29,-41.71
1,65cce385ddadb93e4611d6fb,Modelagem preditiva,livros,70.49,1.337820,2023-02-01,Isabella Pereira,PE,4,cupom,1,-8.38,-37.86
2,65cce385ddadb93e4611d715,Ciência de dados com python,livros,50.51,10.245086,2022-03-01,Thiago Silva,MG,1,cartao_credito,6,-18.10,-44.38
3,65cce385ddadb93e4611d719,Modelagem preditiva,livros,71.64,1.399054,2023-03-01,Mariana Ferreira,SP,4,cartao_credito,2,-22.19,-48.79
4,65cce385ddadb93e4611d71b,Dashboards com Power BI,livros,43.35,3.248105,2023-03-01,Rafael Costa,BA,5,cartao_credito,2,-13.29,-41.71

In [16]:
df_livros.columns

Index(['_id', 'Produto', 'Categoria do Produto', 'Preço', 'Frete',
       'Data da Compra', 'Vendedor', 'Local da compra', 'Avaliação da compra',
       'Tipo de pagamento', 'Quantidade de parcelas', 'Latitude', 'Longitude'],
      dtype='object')

In [17]:
df_livros.shape

(2226, 13)

In [18]:
try:
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS dbprodutos.tb_livros(
            id VARCHAR(100),
            Produto VARCHAR(100),
            Categoria_Produto VARCHAR(100),
            Preco FLOAT(10,2),
            Frete FLOAT(10,2),
            Data_Compra DATE,
            Vendedor VARCHAR(100),
            Local_Compra VARCHAR(100),
            Avaliacao_Compra INT,
            Tipo_Pagamento VARCHAR(100),
            Qntd_Parcelas INT,
            Latitude FLOAT(10,2),
            Longitude FLOAT(10,2),
            
            PRIMARY KEY (id));
    """)
except mysql.connector.Error as err:
    print("Failed creating table: {}".format(err))

**Selecionando a base de dados para verificar a tabela criada**

In [19]:
cursor.execute("USE dbprodutos;")
cursor.execute("SHOW TABLES;")

for tb in cursor:
  print(tb)

('tb_livros',)

## Inserindo os dados do csv na tabela

Para inserir os dados na tabela do MySQL, é necessário percorrer cada linha do DataFrame e transformá-las em tuplas. Essa abordagem permite que mapeemos os dados do DataFrame para as colunas correspondentes da tabela do MySQL de forma eficiente e precisa.

## Visualizando os dados inseridos